/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #2E6198; /* fallback for old browsers */
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/*HEADER*/
body {
    font-family: montserrat, arial, verdana;
    background: transparent;
    overflow-x: hidden;
}

.logo {
    width: 35%;
}

.divider {
    width: 20px;
    height: 80%;
}

.name-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
}
/*-----*/

/*Forms*/

/*Tipography*/
.box {
    background-color: #D9D9D9;
    width: 60%;
    margin: 70px 20% 50px;
    border-radius: 30px;
    padding-bottom: 50px;
}

.title {
    color: #2E6198;
    font-weight: bold;
}

.title-secundary {
    margin: 20px 0px 20px;
    color: #1E1E1E;
    font-size: 1.3em;
}

.carousel-item p {
    width: 75% !important;
    margin: 30px 12.5% 10px;
}
/*------------*/


/*Field's*/
.field {
    border-radius: 12px;
    box-shadow: 2px 2px 30px 5px rgb(206, 206, 206) inset;
    height: 45px;
}

.field-single {
    margin: 20px 12.5% 20px;
    width: 75%;
}

.field-dual {
    width: 77%;
    margin: 20px 11.5% 20px;
}
.btn-custom1 {
    margin-left: 20px;
    background-color: #2E6198;
    color: white;
}

.btn-custom1:hover {
    background-color: white !important;
    color: #2E6198 !important;
    font-weight: bold;
    border: 2px solid #2E6198 !important;
}

.btn-custom2 {
    margin-left: 10px;
    border: 2px solid #2E6198;
    color: #2E6198;
}

.btn-custom2:hover {
    background-color: white !important;
    color: #2E6198 !important;
    font-weight: bold;
    border: 2px solid #2E6198 !important;
}
/*----------*/

/*Extras*/
.gif {
    width: 100% !important;
}

.gif img {
    border-radius: 10px;
}

.modal-body p{
    margin: 10px 15px 10px !important;
}
/*-----*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*Header*/
    .name-content {
        display: none;
    }
    .divider {
        display: none;
    }
    .logo{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .header {
        width: 80% !important;
    }
    /*-----*/
    /*Forms*/
    .title {
        font-size: 1.4em;
    }

    .title-secundary {
        font-size: 1.3em;
    }
    .box{
        width: 90%;
        margin: 70px 5% 50px;
    }
    .field {
        height: 50px;
    }
    .field-single {
        margin: 20px 5% 20px;
        width: 90%;
    }
    
    .field-dual {
        width: 95%;
        margin: 20px 2% 20px;
    }
    figure img {
        width: 80% !important;
    }

    #paymentInformation .title {
        font-size: 1.2em;
    }
    /*-----*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /*Header*/
    .name-content h2 {
        font-size: 1em;
    } 
    .logo {
        width: 70%;
        height: 70%;
    }
    /*-----*/
    /*Forms*/
    .title {
        font-size: 1.3em;
    }

    .title-secundary {
        font-size: 1.2em;
    }
    .box{
        width: 80%;
        margin: 70px 10% 50px;
    }
    .field {
        height: 50px;
    }
    .field-single {
        margin: 20px 10% 20px;
        width: 80%;
    }
    
    .field-dual {
        width: 85%;
        margin: 20px 7.5% 20px;
    }
    figure img {
        width: 80% !important;
    }
    /*-----*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /*------*/
    .name-content h2 {
        font-size: 1em;
    } 
    .logo {
        width: 70%;
        height: 70%;
    }
    /*-----*/
    /*Forms*/
    figure img {
        width: 70% !important;
    }
    /*-----*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*Header*/
    .name-content h2 {
        font-size: 1.2em;
    } 
    .logo {
        width: 50%;
    }
    /*------*/
    /*Forms*/

    figure img {
        width: 80% !important;
    }
    /*-----*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
}